/* white: #ffffff
sand: #ecebe8
grey: #828282
black: #000000
green: #84bd00 */

body {
  background: #828282;
  color: #828282;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

.App {
  max-width: 660px;
  margin: 20px auto;
  padding: 20px 5%;
  background: #ecebe8;
  border: 2px solid #000000;
  border-radius: 10px;
}

.Logo {
  display: flex;
  width: 60%;
  margin: 0 auto 20px auto;
}

.Title {
  color: #84bd00;
  font-weight: 600;
  font-size: 1.3em;
}

/* SEARCH */

.form-control:focus {
  border-color: #84bd00;
  box-shadow: inset 0 1px 1px #84bd00 , 0 0 8px #84bd00;
}

/* ARTIST */

.Artist {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.artistImage {
  height: 100%;
  width: 40%;
  border: 2px solid #84bd00;
  border-radius: 50%;
  margin: auto;
}

.artistInfo {
  height: 100%;
  width: 40%;
  padding: 5px;
  display: inline-block;
  margin: auto;
  border-left: 2px solid #85bd00;
}

.artistInfo div {
  margin: 5px 0;
}

.artistName {
  color: #84bd00;
  font-weight: 600;
  font-size: 1.2em;
}

/* GALLERY */

.trackList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.track {
  position: relative;
  width: 30%;
  cursor: pointer;
  margin-bottom: 5%;
}

.trackLabel {
  position: absolute;
  bottom: 5%;
  left: 5%;
  max-width: 75%;
  font-size: .7em;
  color: #fff;
  background-color: #84bd00;
  border: 1px solid #828282;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 5%;
  z-index: 10;
}


.playIcon {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 3em;
  color: #84bd00;
  opacity: 0;
}

.playIcon:hover {
  opacity: 1.0;
  animation-name: fadeIn;
  animation-duration: .6s;
}

.trackImg {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 15px;
}

.trackImg:hover {
  opacity: 0.3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}